{% extends "base.html" %}
{% block title %}BrawlAPI - Inicio{% endblock %}
{% block content %}
<div class="post">
    <h1>Bienvenido a mi página de Brawl Stars</h1>
    <p>Aquí podrás consultar datos del juego en tiempo real como los Brawlers (personajes), jugadores, clubes y eventos diarios.</p>
    <p>Brawl Stars es un videojuego multijugador para móviles disponible en Android y iOS, desarrollado por <a href="https://supercell.com/en/">Supercell</a> y lanzado globalmente en 2018.</p>
	<p>El objetivo principal del juego es conseguir la mayor cantidad de trofeos y brawlers (los personajes de Brawl Stars), para progresar en un camino de trofeos. Los jugadores entran a diferentes modos de juego, con diferentes brawlers, cada uno con habilidades únicas, que luchan en diferentes modos de juego para subirlos de rango, de trofeos y de maestría. También los jugadores pueden unirse a clubes con sus compañeros o amigos y hacer partidas amistosas, jugar en diferentes modos de juego en competitivo o en solitario, o incluso crear sus propios mapas de juego.</p>
	<img class="centro" src="/static/img/artwork.jpg" alt="Artwork de Brawl Stars">
</div>

{% endblock %}