{% extends "base.html" %}
{% block title %}BrawlAPI - Jugador{% endblock %}
{% block content %}
<div class="post">
    <h1>Información del jugador</h1>
    {% if jugador == 0 %}
        <p>Error: Jugador no encontrado.</p>
    {% else %}
        <p>Jugador: {{jugador["name"]}}</p>
        <p>Trofeos: {{jugador["trophies"]}}</p>
        <p>Máximo de trofeos: {{jugador["highestTrophies"]}}</p>
        <p>Brawlers desbloqueados: {{brawlers}}</p>
        <p>Nivel de experiencia: {{jugador["expLevel"]}}</p>
        <p>Victorias: {{victorias}}</p>
        {% if club == 0 %}
        <p>Club: No pertenece a ningún club.</p>
        {% else %}
        <p>Club: {{jugador["club"]["name"]}}</p>
        <a href="/club/{{jugador["club"]["tag"][1:]}}">Detalles del club.</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}